body{
    background-color: brown;
    
}

$valueContent:center;
.congratulations-block__style{
    margin: 0 auto;
    width: 60%;
    height: 400px;
    background-color: firebrick;
    display: flex;
    justify-content: center;
    align-items: center;
    .congratulations-block__text{
        font-size: 50px;
        text-align: center;
        color: grey;

    }
   
}
.main-container{
    display: flex;
    
    .main-container__input{
        background-color: seagreen;
        width: 33%;
        height: 98vh;
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        .main-container__input-title{
            color: white;
            font-size: 40px;
            padding-bottom: 30px;
            width:66% ;
            text-align: center;
        }
        .main-container__input-text{
            height: 30px;
            border-radius: 5px;
            background-color: aquamarine;
            border: 2px white solid;
            width: 66%;
            color: seagreen;
        }
        .main-container__input-button{
            height: 30px;
            border-radius: 5px;
            background-color: aquamarine;
            border: 2px white solid;
            width: 25%;
            color: seagreen;
            cursor: pointer;
            margin-top: 5%;
            text-align: center;
            
        }       
    }
    .container__flex-space{
        position: relative;
        background-color: grey;
        width: 67%;
        display: flex; 
        height: 98vh; 
        
        .flex-space__box-dinamic{
            width: 100%;
            display: flex; 
            
            .flex-space__item-dinamic{
                background-color: red;
                height: 40px;
                width: 40px; 
                z-index:5;    
                margin: 5px;     
            }
        }  
       
        .flex-space__box-static{
            width: 100%;           
            position: absolute;
            height: 98vh;
            .flex-space__item-static{
                z-index: 0;   
                height: 48px;
                width: 48px;
                background-color: aqua;     
                border: 1px black solid; 
            }
        }
        
    }
}    
    


.box-static_flex-lvl-one-jc-center{
    display: flex;
    justify-content: center;            
}

.box-static_flex-lvl-two-jc-flex-end{
    display: flex;
    justify-content: flex-end;
}  

.box-static_flex-lvl-three-jc-space-between{
    display: flex;
    justify-content: space-between;

}

.box-static_flex-lvl-four-jc-space-around{
    display: flex;
    justify-content: space-around;

}

.box-static_flex-lvl-five-ai-center{
    display: flex;
    align-items: center;
}

.box-static_flex-lvl-six-ai-flex-end-jc-center{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.box-static_flex-lvl-seven-ai-center-jc-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-static_flex-lvl-eight-fd-column-jc-flex-end{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}




