body {
  background-color: brown;
}

.congratulations-block__style {
  margin: 0 auto;
  width: 60%;
  height: 400px;
  background-color: firebrick;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.congratulations-block__style .congratulations-block__text {
  font-size: 50px;
  text-align: center;
  color: grey;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}

.main-container .main-container__input {
  border-radius: 5px 0px 0px 5px;
  background-color: #444c5c;
  width: 33%;
  height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main-container__input .main-container__input-title {
  color: white;
  font-size: 40px;
  padding-bottom: 30px;
  width: 66%;
  text-align: center;
}

.main-container .main-container__input .main-container__input-textarea {
  border-radius: 5px;
  background-color: #78a5a3;
  -webkit-box-shadow: 3px 3px #ce5a57;
          box-shadow: 3px 3px #ce5a57;
  width: 66%;
  color: white;
  resize: none;
  overflow: hidden;
}

.main-container .main-container__input .main-container__input-button {
  height: 30px;
  border-radius: 5px;
  background-color: #78a5a3;
  -webkit-box-shadow: 2px 2px #ce5a57;
          box-shadow: 2px 2px #ce5a57;
  border: 0;
  width: 25%;
  color: #444c5c;
  cursor: pointer;
  font-weight: 600;
  margin-top: 5%;
  text-align: center;
  border-radius: 10px;
  -webkit-transition: border-radius 0.4s ease-out 0.1s;
  transition: border-radius 0.4s ease-out 0.1s;
}

.main-container .main-container__input input:disabled {
  border-radius: 20px;
  cursor: default;
  background-color: #e7e6e6;
  color: #acadad;
  -webkit-box-shadow: 2px 2px #a8a2a2;
          box-shadow: 2px 2px #a8a2a2;
  font-weight: 400;
}

.main-container .container__flex-space {
  position: relative;
  background-color: #78a5a3;
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 98vh;
  border-radius: 0px 5px 5px 0px;
}

.main-container .container__flex-space .flex-space__box-dinamic {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .container__flex-space .flex-space__box-dinamic .flex-space__item-dinamic {
  background-color: #ce5a57;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px  #444c5c;
          box-shadow: 2px 2px  #444c5c;
  height: 37px;
  width: 37px;
  z-index: 5;
  margin: 8.5px;
}

.main-container .container__flex-space .flex-space__box-static {
  width: 100%;
  position: absolute;
  height: 98vh;
}

.main-container .container__flex-space .flex-space__box-static .flex-space__item-static {
  margin: 2px;
  z-index: 0;
  height: 50px;
  width: 50px;
  background-color: #e1b16a;
  border-radius: 9px;
  -webkit-box-shadow: 2px 2px #444c5c;
          box-shadow: 2px 2px #444c5c;
}

.jc-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-fs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jc-fe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ai-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai-fe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ai-fs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fd-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fd-cr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.fd-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fd-rr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.box-static_flex-lvl-one-jc-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-static_flex-lvl-two-jc-flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.box-static_flex-lvl-three-jc-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-static_flex-lvl-four-jc-space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box-static_flex-lvl-five-ai-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-static_flex-lvl-six-ai-flex-end-jc-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-static_flex-lvl-seven-ai-center-jc-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-static_flex-lvl-eight-fd-column-jc-flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.box-static_flex-lvl-nine-fd-column-jc-flex-end-ai-flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box-static_flex-lvl-ten-fd-column-jc-flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.box-static_flex-lvl-eleven-js-center-ai-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-static_flex-lvl-eleven-js-center-ai-center .box-static_flex-lvl-eleven-as-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.animation-right {
  position: relative;
  left: 2px;
}

animation-left {
  position: relative;
  right: 2px;
}
/*# sourceMappingURL=style.css.map */