body{
    background-color: #444c5c;
    
    
}

.congratulations-block__style{
    margin: 0 auto;
    width: 60%;
    height: 400px;
    background-color: firebrick;
    display: flex;
    justify-content: center;
    
    align-items: center;
    .congratulations-block__text{
        font-size: 50px;
        text-align: center;
        color: grey;

    }
   
}



.main-container{
    display: flex;
    border-radius: 20px;
    padding: 20px;
    
    
    .main-container__input{
        border-radius: 5px 0px 0px 5px;
        background-color: #444c5c;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column; 
        align-items: center;
        .main-container__explanation-wrapper{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            flex-direction: column;
            
            .main-containter__title-lvl{
                color: #f0be74;     
                text-shadow: 2px 2px 2px #ce5a57;   
            }
            .main-container__explanation-lvl{
                color: #444c5c;
                padding:5px 20px;
                font-size: 17px;
               
            }
            .position-text{
                text-align: start;
                padding-bottom: 2px;
            }
            .main-container__lvl-style{
                width: 80%;
                text-align: center;
                border-radius: 20px;
                background-color: #78a5a3;
                box-shadow: 3px 3px 3px #ce5a57;
                max-height: 100%;
    
            }
        } 
        .main-container__input-title{
            color: white;
            font-size: 60px;
            padding-bottom: 0px;
            width: 100%;
            text-align: center;
           
            
            .color_1{
                color: #e1b16a;
                text-shadow: 1px 1px 1px #ce5a57;
                margin: 0;
            }
            .color_2{
                color: #ce5a57;
                text-shadow: 1px 1px 1px#e1b16a;
                margin: 0;
            }
        }    
        .main-container__form-wrapper{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content:center;
            align-items: center;
          
            
           
            .main-container__input-textarea{
                
                border-radius: 5px;
                background-color: #78a5a3;
                // border: 2px #597a79 solid;
                box-shadow: 3px 3px 3px #ce5a57;
                width: 66%;
                color: #444c5c;
                resize: none;
                overflow: hidden;
                outline: none;  
                padding: 10px;
                font-size: 20px;      
            }
            .main-container__input-button{
                height: 30px;
                border-radius: 5px;
                background-color: #78a5a3;
                box-shadow: 2px 2px #ce5a57;
                border: 0;
                width: 25%;
                color: #444c5c;
                cursor: pointer;
                font-weight: 600;
                margin-top: 5%;
                text-align: center;
                
                border-radius: 10px;
                transition: border-radius 0.4s ease-out 0.1s;
                
                
            }  
            // .main-container__input-button:hover{
            //     border-radius: 20px;
            // }
            input:disabled {
                border-radius: 20px;
                cursor: default;
                background-color: rgb(231, 230, 230);
                color: rgb(172, 173, 173);
                box-shadow: 2px 2px rgb(168, 162, 162);
                font-weight: 400;
                
            }
        }
        

    }
    .container__flex-space{
        position: relative;
        background-color: #78a5a3;
        width: 67%;
        display: flex;     
        border-radius: 5px;
        height: 90vh;
        box-shadow: 3px 3px 3px #ce5a57;
        
        
        .flex-space__box-dinamic{
            width: 100%;
            display: flex; 
            
            .flex-space__item-dinamic{
                background-color: #ce5a57;
                border-radius: 3px;
                box-shadow: 2px 2px  #444c5c;
                height: 37px;
                width: 37px; 
                z-index:5;    
                margin: 11.5px;     
            }
        }  
       
        .flex-space__box-static{
            width: 100%;           
            position: absolute;
            
            .flex-space__item-static{
                margin: 5px;
                z-index: 0;   
                height: 50px;
                width: 50px;
                background-color: #e1b16a;     
                border-radius: 9px;
                box-shadow: 2px 2px #444c5c;
            }
        }
        
    }
}    
    


.jc-c{
    display: flex;
    justify-content: center;
}

.jc-fs{
    display: flex;
    justify-content: flex-start;
}
.jc-fe{
    display: flex;
    justify-content: flex-end;
}
.ai-c{
    display: flex;
    align-items: center;
}
.ai-fe{
    display: flex;
    align-items: flex-end;
}
.ai-fs{
    display: flex;
    align-items: flex-start;
}
.fd-c{
    display: flex;
    flex-direction: column;
}
.fd-cr{
    display: flex;
    flex-direction: column-reverse;
    
}
.fd-r{
    display: flex;
    flex-direction: row;
    
}
.fd-rr{
    display: flex;
    flex-direction: row-reverse; 
}



















// STATICK ITEMS POSITION


.box-static_flex-lvl-one-jc-flex-end{
    display: flex;
    justify-content: flex-end;
}  

.box-static_flex-lvl-two-jc-center{
    display: flex;
    justify-content: center;
                
}

.box-static_flex-lvl-three-jc-space-between{
    display: flex;
    justify-content: space-between;

}

.box-static_flex-lvl-four-jc-space-around{
    display: flex;
    justify-content: space-around;

}

.box-static_flex-lvl-five-ai-center{
    display: flex;
    align-items: center;
}

.box-static_flex-lvl-six-ai-flex-end-jc-center{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

.box-static_flex-lvl-seven-ai-center-jc-center{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box-static_flex-lvl-eight-fd-column-jc-flex-end{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.box-static_flex-lvl-nine-fd-column-jc-flex-end-ai-flex-end{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.box-static_flex-lvl-ten-fd-column-jc-flex-end{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.box-static_flex-lvl-eleven-js-center-ai-center{
    display: flex; 
    justify-content: center;
    
    .box-static_flex-lvl-eleven-as-center{
        align-self: center;
    }
}


.animation-right{
    position: relative;
    left: 2px;
}

animation-left{
    position: relative;
    right: 2px;
}


