body {
  background-color: brown;
}

.congratulations-block__style {
  margin: 0 auto;
  width: 60%;
  height: 400px;
  background-color: firebrick;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.congratulations-block__style .congratulations-block__text {
  font-size: 50px;
  text-align: center;
  color: grey;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .main-container__input {
  background-color: seagreen;
  width: 33%;
  height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .main-container__input .main-container__input-title {
  color: white;
  font-size: 40px;
  padding-bottom: 30px;
  width: 66%;
  text-align: center;
}

.main-container .main-container__input .main-container__input-text {
  height: 30px;
  border-radius: 5px;
  background-color: aquamarine;
  border: 2px white solid;
  width: 66%;
  color: seagreen;
}

.main-container .main-container__input .main-container__input-button {
  height: 30px;
  border-radius: 5px;
  background-color: aquamarine;
  border: 2px white solid;
  width: 25%;
  color: seagreen;
  cursor: pointer;
  margin-top: 5%;
  text-align: center;
}

.main-container .container__flex-space {
  position: relative;
  background-color: grey;
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 98vh;
}

.main-container .container__flex-space .flex-space__box-dinamic {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .container__flex-space .flex-space__box-dinamic .flex-space__item-dinamic {
  background-color: red;
  height: 40px;
  width: 40px;
  z-index: 5;
  margin: 5px;
}

.main-container .container__flex-space .flex-space__box-static {
  width: 100%;
  position: absolute;
  height: 98vh;
}

.main-container .container__flex-space .flex-space__box-static .flex-space__item-static {
  z-index: 0;
  height: 48px;
  width: 48px;
  background-color: aqua;
  border: 1px black solid;
}

.box-static_flex-lvl-one-jc-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-static_flex-lvl-two-jc-flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.box-static_flex-lvl-three-jc-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-static_flex-lvl-four-jc-space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box-static_flex-lvl-five-ai-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-static_flex-lvl-six-ai-flex-end-jc-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-static_flex-lvl-seven-ai-center-jc-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-static_flex-lvl-eight-fd-column-jc-flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=style.css.map */